@page
@model CinemaBooking.Pages.Film.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Films</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Films.FilmTitle)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Films.FilmTitle)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Films.ReleaseDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Films.ReleaseDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Films.Genre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Films.Genre)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Films.FilmID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
